In [16]:
print("Welcome to VBSR the GREAT's world.")

Welcome to VBSR the GREAT's world.

In [1]:
a=24
print(a)

24

NUMBERS(Integers & Floats)

In [1]:
print(234567*1234567890)
2+3

289588886253630

5

In [1]:
2/3

0.6666666666666666

In [1]:
2%3

2

In [2]:
2 ** 3

8

In [22]:
2 - -3

5

In [23]:
-2 * 3 + 4 / 5

-5.2

In [24]:
2 + 3

5

In [25]:
print(2)

2

In [26]:
9 ** 9

387420489

In [27]:
387420489 ** 9

196627050475552913618075908526912116283103450944214766927315415537966391196809

In [28]:
(9 ** 9) ** 9

196627050475552913618075908526912116283103450944214766927315415537966391196809

In [29]:
(9 ** 9) ** 9

196627050475552913618075908526912116283103450944214766927315415537966391196809

In [30]:
2 + 3

5

In [31]:
3 ** (2 ** 2)

81

In [32]:
9 ** 387

1958173428142979518044972029221192190396268799046910943476958618214660466298996714608655190565216523512680451516762358288328430906297553218440496936719021658936667915272643050348876358289653695998715674189272628135646144350573430174418683736259643368276095336315377208822232415364757813190400400790425880172766987735545044155749818685798704217661013149041151391041879769

In [33]:
9 ** (9 ** 2)

196627050475552913618075908526912116283103450944214766927315415537966391196809

In [34]:
(9 ** 9) ** 2

150094635296999121

In [35]:
0.1

0.1

In [36]:
0.1 + 0.2

0.30000000000000004

In [37]:
from decimal import Decimal
Decimal(0.1)

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [38]:
1/2

0.5

In [39]:
a=2

In [40]:
a

2

In [41]:
a=3
b=4
a+b

7

In [42]:
a = "VBSR"
print(a[0])
print(a[-1])
print(a[-4])

V
R
V

In [43]:
a = "VBSR"
print(a[0])
print(a[-1])
a[-4]

V
R

'V'

In [44]:
len(a)

4

In [45]:
a="qwerty uioq pasdfghjkqlzxcvbqnm"
print(a.index("q"))
print(a.find("q"))
print(a.find(")"))
print(a.find("uioq"))

0
0
-1
7

In [46]:
from decimal import Decimal
Decimal(0.1+0.2-0.3)

Decimal('5.5511151231257827021181583404541015625E-17')

In [47]:
"Hello World " * 10

'Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World '

In [48]:
str(2) + '3'

'23'

In [49]:
2 + int('3')

5

In [50]:
2 + int('2345678903')

2345678905

In [51]:
x = "vbsreddy"

In [52]:
len(x)

8

In [53]:
print('{0} {0}'.format('vbsr'))

vbsr vbsr

In [1]:
a='vbsr'
b=2
c = a + " " + str(b)
d = '{} {}'.format(a, b)
e = f'{a}+{b}'

In [55]:
print(c)
print(d)
print(e)

vbsr 2
vbsr 2
vbsr+2

Lists

In [3]:
my_list = ['qwerty','uiop', 'asdfg', 'hjkl']
my_list[0][2]

'e'

In [21]:
my_list=my_list+[2]

NameError: name 'my_list' is not defined

In [5]:
print(my_list)

['qwerty', 'uiop', 'asdfg', 'hjkl', 2]

In [9]:
print(my_list[4])

2

In [10]:
new_list = my_list.copy()

In [11]:
new_list

['qwerty', 'uiop', 'asdfg', 'hjkl', 2]

In [12]:
new_list1 = my_list
print(new_list1)

['qwerty', 'uiop', 'asdfg', 'hjkl', 2]

In [13]:
new_list.index(2)

4

In [14]:
new_list[-1]

2

In [16]:
new_list[-2:]

['hjkl', 2]


Dictionaries

In [15]:
my_dict = {'milk':2, "apple":'ten'}

In [18]:
print(my_dict)

{'milk': 2, 'apple': 'ten'}

In [20]:
new = dict()

In [21]:
print(new)

{}

In [22]:
new['a']=1
print(new)

{'a': 1}

In [23]:
new=dict({'a':1})

In [24]:
print(new)

{'a': 1}


Tuples

In [25]:
myTup = (1,2,'qwerty')

In [26]:
print(myTup)

(1, 2, 'qwerty')

In [27]:
print(new)

{'a': 1}

In [28]:
new=[1,2,3,4,4,4,5,6,7,8,8,8,8]
new.count(8)

4

In [37]:
new = (1,2,[1,2])
new[2][1]=3
print(new)

(1, 2, [1, 3])


Sets

In [44]:
a = set([1,2,3,4,5,5,5,9,8,7,6])
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
set('Mississippi')

{'M', 'i', 'p', 's'}


I/O Operations

In [55]:
with open('e:\\Learning\\python\\Basics\\sample.txt', mode='r') as new_file:
    contents = new_file.read()
print(contents)

This is sample text file,
to test the I/O operations.

In [46]:
pwd

'e:\\Learning\\python'

In [56]:
%%writefile my_file.txt
vbsreddy
1
2
3
4
5
6
seven
eight

Writing my_file.txt

In [59]:
with open('e:\\Learning\\python\\Basics\\sample.txt', mode='a') as new_file:
    contents = new_file.write('\nvbsreddy')
with open('e:\\Learning\\python\\Basics\\sample.txt', mode='r') as new_file:
    contents = new_file.read()
print(contents)

This is sample text file,
to test the I/O operations.vbsreddy
vbsreddy

In [60]:
2**38

274877906944

In [65]:
l = ['abc', 'def']
type(l[0])

str

In [3]:
type(3+1.5+4)

float

In [4]:
25**0.5

5.0

In [5]:
10**0.5

3.1622776601683795

In [7]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]="goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

In [8]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [9]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [18]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [22]:
d={'name':['vinta','bharath']}
d['name'][1]

'bharath'

In [24]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
len(set(list5))
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [1]:
2**38

274877906944

In [4]:
31966.30+3908.70

35875.0

In [9]:
value = "E"
ord(value)

69

In [3]:
36000-(3908+31664)

428

In [1]:
-999-273-399-629+999-498.60-116.10-160-740-550-100-65-399+10+11-100-120-82+125

-4085.7

In [5]:
chr(ord('A'))

'A'

In [10]:
not 1<2<3

False

For Loop and Tuple unpacking

In [13]:
my_list = [(1,2),(3,4),(5,6)]
for a,b in my_list:
    print(a)

1
3
5

In [24]:
print(my_dict)
for key, value in my_dict.items():
    print(key)
    print(value)

{'milk': 2, 'apple': 'ten'}
milk
2
apple
ten

In [1]:
x=0
while x<5:
    print(x)
    x=x+1
else:
    print(f'x value {x}')

0
1
2
3
4
x value 5

In [3]:
print(x)

5

In [6]:
list1 = [2,4,1,5,3,6, 'vbsr']
for item in enumerate(list1):
    print(item)

(0, 2)
(1, 4)
(2, 1)
(3, 5)
(4, 3)
(5, 6)
(6, 'vbsr')

Enumerate, ZIP, Range, Min, Max

In [10]:
st = 'Print only the words that start with s in this Sentence'
my_list = st.split(' ')
print(my_list)
for i in my_list:
    if(i[0]=='s' or i[0] == 'S'):
        print(i)

['Print', 'only', 'the', 'words', 'that', 'start', 'with', 's', 'in', 'this', 'Sentence']
start
s
Sentence

In [24]:
for i in range(0,11):
    if i%2==0:
        print(i)

list(range(0,11,2))

0
2
4
6
8
10

[0, 2, 4, 6, 8, 10]

In [1]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [6]:
[x for x in range(1,50) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [7]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2==0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [9]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print('Fizz')
    elif i%5 ==0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [10]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [6]:
[x if x%3==0 else "odd" for x in range(1,50)]

['odd',
 'odd',
 3,
 'odd',
 'odd',
 6,
 'odd',
 'odd',
 9,
 'odd',
 'odd',
 12,
 'odd',
 'odd',
 15,
 'odd',
 'odd',
 18,
 'odd',
 'odd',
 21,
 'odd',
 'odd',
 24,
 'odd',
 'odd',
 27,
 'odd',
 'odd',
 30,
 'odd',
 'odd',
 33,
 'odd',
 'odd',
 36,
 'odd',
 'odd',
 39,
 'odd',
 'odd',
 42,
 'odd',
 'odd',
 45,
 'odd',
 'odd',
 48,
 'odd']

In [22]:
my_list = []
for x in range(1,50):
    if x%3==0:
        my_list.append(x)
    else:
        pass
print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [23]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [1]:
[x for x in range(1,50) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [3]:
words_dict = {}
my_list = ["a", "b", "c", "d", "e"]
for st in my_list:
    words_dict.update({st: 0})
print(words_dict)

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0}

In [1]:
abs(-10)

10

In [2]:
# specify to translate chars 
temp = "g fmnc wms bgblr rpylqjyrc gr zw fylb. rfyrq ufyr amknsrcpq ypc dmp. bmgle gr gl zw fylb gq glcddgagclr ylb rfyr'q ufw rfgq rcvr gq qm jmle. sqgle qrpgle.kyicrpylq() gq pcamkkclbcb. lmu ynnjw ml rfc spj."

str1 = "wy"
  
# specify to replace with 
str2 = "gf"
  
# delete chars 
str3 = "u"
  
# target string  
trg = "weeksyourweeks"
  
# using maketrans() to  
# construct translate 
# table 
table = trg.maketrans(str1, str2, str3) 
print(table)
# Printing original string  
print ("The string before translating is : ", end ="") 
print (trg) 
  
# using translate() to make translations. 
print ("The string after translating is : ", end ="") 
print (trg.translate(table))

{119: 103, 121: 102, 117: None}
The string before translating is : weeksyourweeks
The string after translating is : geeksforgeeks

In [4]:
raw = 'http://www.pythonchallenge.com/pc/def/map.html'
table = str.maketrans(
    "abcdefghijklmnopqrstuvwxyz", "cdefghijklmnopqrstuvwxyzab"
)
print(table)
result = raw.translate(table)

print(result)

{97: 99, 98: 100, 99: 101, 100: 102, 101: 103, 102: 104, 103: 105, 104: 106, 105: 107, 106: 108, 107: 109, 108: 110, 109: 111, 110: 112, 111: 113, 112: 114, 113: 115, 114: 116, 115: 117, 116: 118, 117: 119, 118: 120, 119: 121, 120: 122, 121: 97, 122: 98}
jvvr://yyy.ravjqpejcnngpig.eqo/re/fgh/ocr.jvon

In [5]:
import string
print(string.ascii_lowercase)
print(string.ascii_uppercase)

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [7]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [8]:
str.maketrans({'a':'b', 'c':'d'})

{97: 'b', 99: 'd'}

In [13]:
"acz".translate(str.maketrans({97:98, 99:100}))

'bdz'

In [11]:
help(str.translate)

Help on method_descriptor:

translate(self, table, /)
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [6]:
nums = [1,4,2,5,3]
nums.sort()
nums.append(6)
print(nums)

[1, 2, 3, 4, 5, 6]

In [7]:
def pig_latin(word):
    if word[0].lower() in 'aeiou':
        word=word+'ay'
    else:
        word = word[1:] + word[0] + 'ay'
    return word

In [9]:
print(pig_latin('apple'))
print(pig_latin('word'))
print(pig_latin('banana'))

appleay
ordway
ananabay

In [2]:
import math

def is_prime2(num):
    '''
    Better method of checking for primes. 
    '''
    for i in range(2, int(math.sqrt(num)) + 1):
        if num %i==0:
            return False
    else:
        return True

In [3]:
is_prime2(2)

True

In [4]:
help(is_prime2)

Help on function is_prime2 in module __main__:

is_prime2(num)
    Better method of checking for primes.

In [7]:
def add(a,b):
    return sum((a,b))

In [8]:
add(40, 60)

100

In [10]:
sum((10,20))

30

In [11]:
sum([1,2,3,4,5,6,7,8,9,10])

55

In [12]:
def myfunc(*args):
    print(args)
    return sum(args)

In [13]:
myfunc(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [29]:
def myfunc1(**kwargs):
    print(kwargs)
    for i in kwargs.values():
        print(i**i)

In [30]:
myfunc1(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}
1
4
27

In [37]:
def myfunc2(*args, **kwargs):
    print(args)
    print(kwargs)

In [38]:
myfunc2(1,2,3,4,5,6,7,8,9,0,a=11,b=12,c=13)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
{'a': 11, 'b': 12, 'c': 13}

In [42]:
'abc'.translate(str.maketrans('abc','xyz'))

'xyz'

In [43]:
36000-11764.42

24235.58

In [34]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [35]:
print(lesser_of_two_evens(2,5))
print(lesser_of_two_evens(2,4))

5
2

In [40]:
def animal_crackers(mystring):
    strArr = mystring.lower().split(" ")
    return strArr[0][0]== strArr[1][0]

In [41]:
print(animal_crackers("Levelheaded Llama"))
print(animal_crackers("Crazy Kangaroo"))

True
False

In [36]:
def makes_twenty(a,b):
    return a+b==20 or a==20 or b==20

In [37]:
print(makes_twenty(10,20))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

In [38]:
def old_macdonald(mystring):
    if len(mystring) <4:
        return mystring.capitalize()
    else:
        return mystring[:3].capitalize() + mystring[3:].capitalize()

In [39]:
print(old_macdonald('macdonald'))

MacDonald

In [91]:
def master_yoda(mystring):
    a = mystring.split(" ")
    a.reverse()
    return " ".join(a)

In [92]:
print(master_yoda("hello World"))

World hello

In [97]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False

In [98]:
print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

In [103]:
def has_33(arr):
    for i in range(len(arr)-1):
        if arr[i] ==3 and arr[i+1]==3:
            return True
    else:
        return False

In [104]:
print(has_33([1, 3, 3]))
print(has_33([1, 3, 1, 3]))
print(has_33([3, 1, 3]))

True
False
False

In [109]:
def paper_doll(text):
    outstr = ''
    for i in range(len(text)):
        outstr = outstr + text[i] *3
    return outstr

In [111]:
print(paper_doll('Hello'))
print(paper_doll('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

In [114]:
def blackjack(a,b,c):
    sum3 = a+b+c
    if sum3 <=21:
        return sum3
    else:
        if 11 in [a,b,c]:
            sum3 =sum3-10
            if sum3 <= 21:
                return sum3
            else:
                return 'BUST'
        else:
            return 'BUST'

In [116]:
print(blackjack(9,9,9))
print(blackjack(9,9,11))
print(blackjack(5,6,7))

BUST
19
18

In [7]:
def summer_69(arr):
    if 6 in arr:
        out =0
        i =0
        while i < len(arr):
            if arr[i] ==6:
                j=i+1
                while True:
                    if arr[j]==9:
                        break
                    j=j+1
                i=j+1
            else:
                out=out + arr[i]
                i=i+1
        return out
    else:
        return sum(arr)

In [8]:
print(summer_69([1, 3, 5]))
print(summer_69([4, 5, 6, 7, 8, 9]))
print(summer_69([2, 1, 6, 9, 11]))

9
9
14

In [11]:
def spy_game(nums):
    mylist = []
    for i in nums:
        if i==0 or i==7:
            mylist.append(str(i))
    mystring = "".join(mylist)
    return '007' in mystring

In [12]:
print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,7,2,0,4,5,0]))

True
True
False

In [30]:
import math
def count_primes(num):
    count = 0
    myprimes = []
    for i in range(2,num+1):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            myprimes.append(i)
            count =count+1
    print(myprimes)
    return count

In [31]:
print(count_primes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

Maps, Filters and Lambdas

In [42]:
def count_nums(nums):
    return nums%2==0

In [43]:
my_nums = [1,2,3,4,5,6,7,8,9,10]

In [44]:
list(map(count_nums, my_nums))

[False, True, False, True, False, True, False, True, False, True]

In [45]:
list(filter(count_nums, my_nums))

[2, 4, 6, 8, 10]

In [46]:
def square(nums):
    return nums**2

In [47]:
list(map(square, my_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
list(filter(square, my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list(set([1,1,1,1,2,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [52]:
def multiply(numbers):
    out =1
    for i in numbers:
        out = out*i
    return out

In [54]:
print(multiply([1,2,3,-4]))

-24

In [55]:
def palindrome(s):
    return s==s[::-1]

In [56]:
print(palindrome('helleh'))

True

In [65]:
import string
i = list(set("The quick brown fox jumps over the lazy dog".lower()))
i.sort()
string.ascii_lowercase in ''.join(i)

True

In [76]:
def reverse(x: int) -> int:
        x = str(x)
        temp=''
        if x[0] == '-':
            temp='-'
            x=x[1:]
        x=x[::-1]
        x=temp+x
        return int(x)

In [77]:
reverse(-123)

-321

In [10]:
min(["a"])

'a'

In [109]:
romanToInt('I')

1

In [14]:
class Bike():
    brand = "RE"
    def __init__(self, model):
        self.model=model

    def sample(self):
        print(f"{self.brand}")

In [15]:
mybike = Bike(model = "Himalayan")

In [16]:
mybike.sample()

RE

In [17]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1_X = coor1[0]
        self.coor1_Y = coor1[1]
        self.coor2_X = coor2[0]
        self.coor2_Y = coor2[1]
    
    def distance(self):
        return ((self.coor2_Y-self.coor1_Y)**2+(self.coor2_X-self.coor1_X)**2)**0.5
    
    def slope(self):
        return (self.coor2_Y-self.coor1_Y)/(self.coor2_X-self.coor1_X)

In [18]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [19]:
li.distance()

9.433981132056603

In [20]:
li.slope()

1.6

In [33]:
class Account():
    def __init__(self, owner, balance):
        self.owner = owner
        self.balance = balance

    def __str__(self):
        return "Account Owner: {} \nAccount Balance: Rs.{}/-".format(self.owner, self.balance)
    
    def deposit(self, deposit_amount):
        self.balance = self.balance + deposit_amount
        print(f"Dear {self.owner}, Updated Balance: Rs.{self.balance}/-")
    
    def withdraw(self, withdrawal_amount):
        if(withdrawal_amount<self.balance):
            print(f"Dear {self.owner}, Rs.{withdrawal_amount}/- has been withdrawn")
            self.balance=self.balance-withdrawal_amount
        else:
            print("Insufficient Funds in Account")

In [34]:
vbsr = Account("VBSREDDY", 10000)

In [35]:
vbsr.deposit(5000)

Dear VBSREDDY, Updated Balance: Rs.15000/-

In [36]:
vbsr.withdraw(7500)

Dear VBSREDDY, Rs.7500/- has been withdrawn

In [37]:
vbsr.balance

7500

In [38]:
vbsr.withdraw(10000)

Insufficient Funds in Account

In [39]:
print(vbsr)

Account Owner: VBSREDDY
Account Balance: Rs.7500/-

In [42]:
list('123')

['1', '2', '3']

In [43]:
len("")

0

In [47]:
a=[1,2]
a.pop()

2

In [48]:
a.pop()

1